html{
    font-family: Comic Sans MS, Arial;
}

header{
    border-top: 5px dotted blue;
    border-left: 5px groove blue;
    border-right: 5px groove blue;
    border-bottom: 5px dotted blue;
    border-radius: 15px;
    text-align: center;
    background-color: darkgreen;
}

#saludo_header{
    color: white;
}

body{
    background-color: black;
    background-image: url("../imgs/fondo_maincra.jpg");
    background-size: cover;
    background-attachment: fixed;
}

button{
    font-size: 24px;
}

#p1{
    font-size: 24px;
    color: lightblue;
}

